<ion-header>
  <ion-toolbar class="ion-justify-content-center">
    <ion-buttons slot="end">
      <ion-button
        (click)="cancel()"
        shape="round"
        color="medium"
      >
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="gardenForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="d-flex mt-4">
          <ion-button class="mx-auto" shape="round" color="medium" (click)="uploadPhoto()">
            <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col
          size="12"
          *ngIf="!!images?.length"
          class="d-flex flex-row justify-content-center my-2"
        >
          <div *ngFor="let image of images; let i=index" class="image-container">
            <ion-buttons class="delete-icon">
              <ion-button
                (click)="deleteImage(i)"
                shape="round"
                color="medium"
              >
                <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-img
              [src]="image"
              class="m-1"
              (click)="openPhoto(image)"
            >
            </ion-img>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-input
            labelPlacement="floating"
            label="Title"
            formControlName="title"
            fill="outline"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-textarea
            labelPlacement="floating"
            label="Description"
            formControlName="description"
            fill="outline"
          ></ion-textarea>
        </ion-col>
        <ion-col size="12">
          <ion-select
            multiple="true"
            labelPlacement="floating"
            label="Products"
            formControlName="productTypes"
            fill="outline"
          >
            <ion-select-option
              *ngFor="let option of productOptions"
              [value]="option.value"
              >{{ option.key }}</ion-select-option
            >
          </ion-select>
        </ion-col>
        <form [formGroup]="ruleForm" class="w-100">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-checkbox formControlName="events">Events</ion-checkbox>
              </ion-col>
              <ion-col size="6">
                <ion-checkbox formControlName="pets">Pets</ion-checkbox>
              </ion-col>
              <ion-col size="12">
                <ion-input
                  labelPlacement="floating"
                  label="Number of Guests limit"
                  formControlName="numberOfGuest"
                  fill="outline"
                  type="number"
                ></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <ion-col size="12">
          <ion-input
            labelPlacement="floating"
            label="Address"
            formControlName="address"
            fill="outline"
          ></ion-input>
        </ion-col>
        <ion-col size="12" class="d-flex mt-4">
          <ion-button class="mx-auto" (click)="save()">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
